.button {
    font-size: 22px;
    margin-top: 20px;
}
  
.button-group {
    margin-top: 20px;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 800px; /* height of carousel */
    margin-right: 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    background-position: center;
    object-fit: cover;
}

.progress-bar {
    height: 10px;
    width: 0;
    background: rgb(32, 32, 32);
  }
